﻿@page "/Jobs"
@using yshService.Shared;
@using yshService.Client.Components;

@inject HttpClient Http
@inject NavigationManager Navigation


<h3>Cleanup jobs</h3>

<EditForm Model="@requests" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="containter">
        <JobStateView JobType="PurgeRequests.jobCancelled" @bind-StateVals=requests.Cancelled></JobStateView>
        <JobStateView JobType="PurgeRequests.jobIncomplete" @bind-StateVals=requests.Incomplete></JobStateView>
        <JobStateView JobType="PurgeRequests.jobComplete" @bind-StateVals=requests.Complete></JobStateView>
    </div>
    <button type="submit">Confirm</button>
</EditForm>

@code {

    private PurgeRequestModel requests = new PurgeRequestModel();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            String uri = Navigation.BaseUri + "JobsData";
            try
            {
                requests = await Http.GetFromJsonAsync<yshService.Shared.PurgeRequestModel>(uri);
                StateHasChanged();

            }
            catch (Exception e)
            {
                Console.WriteLine("here");
            }
        }
        catch (Exception s)
        {
            Console.WriteLine(s.Message);
        }
    }

    private void HandleValidSubmit()
    {
        String uri = Navigation.BaseUri + "JobsData/Configure/";
        Http.PostAsJsonAsync<PurgeRequestModel>(uri, requests);

    }
}
