﻿@using yshService.Shared;

<div>
    <label>@Label</label>
    <InputRadioGroup Name="@GroupName" @bind-Value=StateVals>
        <input type="radio" name="@GroupName" value="@JobState.Started" checked="@(StateVals == JobState.Started)"  @onchange="OnChange" />Started
        <input type="radio" name="@GroupName" value="@JobState.Stopped"  checked="@(StateVals == JobState.Stopped)" @onchange="OnChange" />Stopped
        <!--
            <InputRadio Name="@GroupName" Value="JobState.Started" @onchange="OnChange" />Started
            <InputRadio Name="@GroupName" Value="JobState.Stopped" @onchange="OnChange" />Stopped
        -->
    </InputRadioGroup>
</div>

@code {
    [Parameter]
    public PurgeRequests JobType { get; set; }

    [Parameter]
    public JobState StateVals { get; set; }

    [Parameter]
    public EventCallback<JobState> StateValsChanged { get; set; }

    private String Label { get; set; }
    private String GroupName { get; set; } = "t";

    protected override void OnInitialized()
    {
        Label = "Purge " + Enum.GetName(typeof(PurgeRequests), JobType).Remove(0,3) + " requests";
        GroupName = "grp" + ((int)(JobType)).ToString();
    }

    private async Task OnChange(ChangeEventArgs args)
    {
        StateVals = (args.Value.ToString() == "Started") ? JobState.Started : JobState.Stopped;

        await StateValsChanged.InvokeAsync(StateVals);
    }
}
